* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
section {
  width: 100%;
  height: 100vh;
}
body {
  background-color: #fff9f2;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

/* visual */
#visual {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#visual .wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#visual .blob-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#visual h2 {
  font-size: 6rem;
  text-align: center;
  color: #644f44;
  font-family: "Bellefair", serif;
  position: absolute;
  letter-spacing: 10px;
  z-index: 10;
  margin: 0;
}
#visual .st1 {
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
}

/* 오른쪽 아래로 이동 */
#visual .st2 {
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%);
}

#visual ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#visual ul li {
  position: absolute;
  width: 40vw;
  height: 40vw;
  opacity: 0;
}
/* 위쪽 왼쪽 */
.b1 {
  top: -17vw;
  left: 15vw;
}
/* 위쪽 오른쪽 */
.b2 {
  top: -12vw;
  right: 15vw;
}
/* 왼쪽 중간 위 */
.b3 {
  top: 0vw;
  left: -12vw;
}
/* 오른쪽 중간 위 */
.b4 {
  top: 0vw;
  right: -12vw;
}
/* 왼쪽 중간 아래 */
.b5 {
  top: 10%;
  left: -15vw;
  transform: translateY(-50%);
}
/* 오른쪽 중간 아래 */
.b6 {
  top: 10%;
  right: -15vw;
  transform: translateY(-50%);
}
/* con01 */

.con01 {
  background: url(../img/about\ me.png) no-repeat center;
  background-size: cover;
  padding-top: 100px;
  box-sizing: border-box;
  overflow: hidden;
}
.con01 .textBox {
  width: calc(100% / 2);
}
.con01 .wrap {
  /* background-color: yellow; */
  max-width: 1200px;
  padding-top: 100px;
  box-sizing: border-box;
  margin: 0px auto;
  justify-content: center;
  display: flex;
  gap: 50px;
}

/* title */

.con01 h2 {
  text-align: center;
  padding: 50px;
  font-size: 5vw;
  font-family: "Bellefair", serif;
  font-weight: normal;
  color: #644f44;
}

/* left */
.con01 .imgBox h4 {
  margin-top: 20px;
  line-height: 1.8;
  color: #555;
  word-break: keep-all;
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.9;
  transition: all 0.5s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.con01 .imgBox h4:hover {
  opacity: 1;
  transform: translateY(-3px);
  text-shadow: 2px 2px 8px rgba(100, 79, 68, 0.15);
}

.con01 .imgBox span {
  color: #644f44;
  font-weight: 600;
  font-size: 1.2rem;
  text-shadow: 1px 1px 5px rgba(100, 79, 68, 0.2);
  transition: all 0.3s ease;
  display: inline-block;
}

.con01 .imgBox h4:hover span {
  color: #8b6f47;
  transform: scale(1.05);
}

.con01 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.con01 .imgBox {
  width: 400px;
  height: 400px;
  text-align: center;
}
.con01 .imgBox span {
  color: #644f44;
}
/* right */

.con01 .title {
  width: 50%;

  text-align: center;
  font-size: 20px;
}
.con01 .title h4 {
  color: #644f44;
  font-weight: normal;
  word-break: keep-all;
}
.con01 .txt {
  width: 100%;
  line-height: 30px;
  word-break: keep-all;
}
.con01 .txt span {
  color: #636161;
  font-size: 13px;
  word-break: keep-all;
}
.con01 .df {
  width: 100%;
  /* background-color: violet; */
  margin-bottom: 10px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}
/* 스킬 섹션 */

.con01 .skill {
  display: flex;
  animation: scroll 35s linear infinite;
  width: max-content;
  margin-top: 100px;
  gap: 40px;
}
.con01 .skill li img {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.con01 .skill li {
  flex-shrink: 0;
}

.con01 .skill li img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  transition: all 0.3s ease;
}

.con01 .skill li img:hover {
  transform: scale(1.2) rotate(5deg);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* con02 */
.con02 {
  background: url(../img/web.png) no-repeat center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  box-sizing: border-box;
  min-height: 100vh;
}
/* title */
.con02 h2 {
  text-align: center;
  padding: 50px;
  font-size: 5vw;
  font-weight: normal;
  font-family: "Bellefair", serif;
  color: #644f44;
}

.con02 .inner {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
  height: 100%;
}

/* imgBox */
.con02 .inner .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
}

.con02 .inner .imgBox li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.con02 .inner .imgBox li img {
  width: 55%;
  height: auto;
  object-fit: cover;
}

/* Box  */
.con02 .Box {
  text-align: center;
}
.con02 .inner .imgBox li .Box {
  width: 45%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.con02 .inner .imgBox li .Box h2 {
  font-size: 2.5vw;
  margin-bottom: 30px;
  color: #644f44;
  font-family: "Bellefair", serif;
}

.con02 .inner .imgBox li .Box h4 {
  font-size: 1.3vw;
  margin-top: 20px;
  margin-bottom: 8px;
  color: #555;
  font-weight: 600;
}

.con02 .inner .imgBox li .Box p {
  font-size: 1.1vw;
  line-height: 1.8;
  color: #666;
  margin-bottom: 15px;
}

/* 버튼 */

.con02 .inner .imgBox li .Box .more {
  display: inline-block;
  padding: 12px 24px;
  background-color: transparent;
  color: #644f44;
  border: 1px solid #644f44;
  margin-top: 20px;
  margin-right: 10px;
  transition: all 0.3s ease;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.con02 .inner .imgBox li .Box .more:hover {
  background-color: #644f44;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.con02 .inner .imgBox li .Box .more a {
  text-decoration: none;
  font-size: 1vw;
  font-weight: 500;
}

/* con03 */

.con03 {
  width: 100%;
  height: calc(100vh - 160px);
  position: relative;
  overflow: hidden;
  padding-top: 160px;
  background: url(../img/portfolio2.png) no-repeat center;
  background-size: cover;
}

.con03 .inner {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  box-sizing: border-box;
}

/* Fixed Text */
.con03 .centerBox {
  position: relative;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  color: #644f44;
}
.con03 .centerBox h2 {
  font-family: "Bellefair", serif;
  font-weight: normal;
  text-align: center;
  font-size: 5vw;
  padding: 20px;
  margin-bottom: 50px;
}
.con03 .centerBox h2,
.con03 .centerBox h3 {
  margin: 0 0 10px;
}

.con03 .imgScroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
}

/* Left column */
.con03 .imgScrollLeft {
  position: absolute;
  top: 0;
  left: -50px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-top: 20px;
}

/* Right column */
.con03 .imgScrollRight {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-top: 20px;
}

/* Individual images */
.con03 .imgScrollLeft li,
.con03 .imgScrollRight li {
  width: 70%;
  height: auto;
  margin-bottom: 30px;
  overflow: visible;
  background-color: #fff;
}

.con03 .imgScrollLeft li:last-child,
.con03 .imgScrollRight li:last-child {
  margin-bottom: 0;
}

.con03 .imgScrollLeft img,
.con03 .imgScrollRight img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  /* border-radius: 25px 25px 0px 0px; */
}
.con03 .txt {
  padding: 15px;
}
.con03 .txt .st {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.con03 .txt .st li p {
  margin: 0;
  padding: 0;
}

/* 제목 */
.con03 .txt h2 {
  margin-bottom: 10px;
}

/* ul 가로 정렬 */
.con03 .txt ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0;
  padding: 0;
  margin: 0;
}
.con03 .txt h2 {
  font-size: 1.2vw;
}
.con03 .txt p {
  font-size: 1.2vw;
  color: #444;
}

/* con04 */

.con04 {
  /* border: 1px solid red; */
  padding-top: 100px;
  box-sizing: border-box;
  overflow: hidden;
  background: url(../img/portfolio.png) no-repeat center;
  background-size: cover;
}

/* textBox */
.con04 .textBox {
  width: 80%;
  margin: 0px auto;
}
.con04 h2 {
  font-size: 5vw;
  color: #644f44;
  letter-spacing: 5px;
  font-weight: normal;
  font-family: "Bellefair", serif;
}
.con04 ul {
  display: flex;
  padding-top: 50px;
}
.con04 li {
  width: 400px;
  flex-shrink: 0;
  padding: 0px 30px;
  position: relative;
}
.con04 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 스마일-스티커 */
.con04 li::after {
  content: "";
  color: #fff;
  width: 100%;
  height: 100%;
  background: url(../img/cat.png) no-repeat center / 120px;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: 0.5s;
}

.con04 li:hover img {
  filter: brightness(60%);
}

.con04 li:hover::after {
  opacity: 0.5;
}

/* con05 */
.con05 {
  background: url(../img/contact.png) no-repeat bottom;
  background-size: cover;
  box-sizing: border-box;
}
.con05 .title {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2;
}
.con05 h2 {
  font-size: 5vw;
  text-align: center;
  color: #644f44;
  letter-spacing: 5px;
  font-weight: normal;
  font-family: "Bellefair", serif;
  padding: 50px 0px;
}
.con05 .text {
  background: linear-gradient(90deg, #644f44 0%, #644f44 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-size 0.5s ease;
}
.con05 .title img {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* 태블릿 */
@media (max-width: 1024px) {
  #visual h2 {
    font-size: 4.5rem;
  }

  #visual ul li {
    width: 45vw;
    height: 45vw;
  }

  /* con01 */
  .con01 .wrap {
    max-width: 900px;
    padding-top: 80px;
    gap: 40px;
  }

  .con01 h2 {
    font-size: 42px;
    padding: 40px;
  }

  .con01 .imgBox {
    width: 350px;
    height: 350px;
  }

  .con01 .textBox {
    width: calc(100% / 2);
  }

  .con01 .df {
    gap: 30px;
  }

  .con01 .title h4 {
    font-size: 18px;
  }

  .con01 .txt {
    font-size: 14px;
  }

  .con01 .skill {
    margin-top: 80px;
    gap: 35px;
  }

  .con01 .skill li img {
    width: 70px;
    height: 70px;
    padding: 8px;
  }

  /* con02 */
  .con02 {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .con02 h2 {
    font-size: 42px;
    padding: 40px;
  }

  .con02 .inner {
    max-width: 900px;
  }

  .con02 .inner .imgBox li {
    gap: 40px;
  }

  .con02 .inner .imgBox li img {
    width: 50%;
  }

  .con02 .inner .imgBox li .Box {
    width: 50%;
  }

  .con02 .inner .imgBox li .Box h2 {
    font-size: 3vw;
    margin-bottom: 25px;
  }

  .con02 .inner .imgBox li .Box h4 {
    font-size: 1.5vw;
    margin-top: 18px;
  }

  .con02 .inner .imgBox li .Box p {
    font-size: 1.3vw;
  }

  .con02 .inner .imgBox li .Box .more {
    padding: 10px 20px;
    margin-top: 15px;
  }

  .con02 .inner .imgBox li .Box .more a {
    font-size: 1.2vw;
  }

  /* con03 */
  .con03 {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .con03 .centerBox h2 {
    font-size: 8vw;
    margin-bottom: 30px;
  }

  .con03 .centerBox h3 {
    font-size: 4vw;
  }

  .con03 .imgScrollLeft,
  .con03 .imgScrollRight {
    width: 50%;
    padding-top: 10px;
  }

  .con03 .imgScrollLeft li,
  .con03 .imgScrollRight li {
    width: 80%;
    margin-bottom: 20px;
  }

  .con03 .imgScrollLeft img,
  .con03 .imgScrollRight img {
    height: 300px;
  }

  .con03 .txt h2 {
    font-size: 2vw;
  }

  .con03 .txt p {
    font-size: 1.8vw;
  }

  .con03 .txt .st {
    margin-top: 50px;
  }

  /* con04 */
  .con04 {
    padding-top: 80px;
  }

  .con04 .textBox {
    width: 85%;
  }

  .con04 h2 {
    font-size: 6vw;
  }

  .con04 ul {
    padding-top: 40px;
  }

  .con04 li {
    width: 350px;
    padding: 0px 25px;
  }

  /* con05 */
  .con05 h2 {
    font-size: 6vw;
    padding: 40px;
  }

  .con05 .title {
    padding: 0 40px;
  }

  .con05 .title img {
    max-width: 200px;
  }

  .con05 .title h3 {
    font-size: 3vw;
    margin: 20px 0;
  }

  .con05 .title p {
    font-size: 2.5vw;
    line-height: 1.6;
  }
}

/* 반응형 */
@media (max-width: 768px) {
  /* visual */
  #visual h2 {
    font-size: 3rem;
  }

  #visual ul li {
    width: 50vw;
    height: 50vw;
  }

  /* con01 */
  .con01 {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .con01 .wrap {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .con01 .imgBox {
    flex: 0 0 auto;
    width: 100%;
    max-width: 350px;
    margin: 50px auto;
  }

  .con01 .df {
    flex-direction: column;
    gap: 10px;
  }

  .con01 .title {
    width: 100%;
    text-align: center;
  }

  .con01 h2 {
    font-size: 36px;
    padding: 30px;
  }
  .con01 h4 {
    padding: 20px 0px;
    word-break: keep-all;
    text-align: center;
    line-height: 20px;
  }
  .con01 .textBox {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .con01 .skill {
    gap: 30px;
  }
  .con01 .skill li img {
    width: 60px;
    height: 60px;
  }

  /* con02 */
  .con02 {
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
  }

  .con02 .inner .imgBox li {
    flex-direction: column;
    gap: 10px;
  }

  .con02 .inner .imgBox li img {
    width: 100%;
    height: 50%;
  }

  .con02 .inner .imgBox li .Box {
    width: 100%;
    padding: 20px;
  }

  .con02 .inner .imgBox li .Box h2 {
    font-size: 6vw;
  }

  .con02 .inner .imgBox li .Box h4 {
    font-size: 3.5vw;
  }

  .con02 .inner .imgBox li .Box p {
    font-size: 3vw;
  }

  .con02 .inner .imgBox li .Box .more a {
    font-size: 3.5vw;
  }

  /* con03 */
  .con03 {
    height: 100vh;
  }

  .con03 .imgScrollLeft li,
  .con03 .imgScrollRight li {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .con03 .st p {
    font-size: 0.7rem;
  }
  .con03 .imgScrollLeft img,
  .con03 .imgScrollRight img {
    height: 200px;
  }
  .con03 .fixedTxt {
    max-width: 90%;
    padding: 20px 0;
  }

  /* con04 */
  .con04 h2 {
    font-size: 8vw;
  }

  .con04 li {
    width: 300px;
    padding: 0px 20px;
  }
  /* con05 */
  .con05 h2 {
    font-size: 8vw;
  }

  .con05 .title h3 {
    font-size: 4vw;
  }

  .con05 .title p {
    font-size: 3.5vw;
  }
}
@media (max-width: 480px) {
  #visual p {
    font-size: 2rem;
  }

  .con01 h2,
  .con02 h2 {
    font-size: 28px;
  }

  .con01 .skill li img {
    width: 50px;
    height: 50px;
  }
  .con03 {
    padding-top: 60px;
  }

  .con03 .centerBox h2 {
    font-size: 14vw;
  }

  .con03 .centerBox h3 {
    font-size: 6vw;
  }

  .con03 .imgScrollLeft img,
  .con03 .imgScrollRight img {
    height: 200px;
  }

  .con03 .txt {
    padding: 15px;
  }

  .con03 .txt h2 {
    font-size: 6vw;
  }

  .con03 .txt p {
    font-size: 4.5vw;
  }

  .con03 .txt .st {
    margin-top: 20px;
  }

  .con04 li {
    width: 250px;
  }
}
